:root {
  --background: rgb(19, 19, 22);
  --text1: rgb(206, 206, 206);
  --text2: rgb(180, 180, 180);
  --border: rgb(145, 152, 167);
  --border2: rgb(62, 67, 78);
  --border3: rgb(197, 197, 197);
  --green: #30df56;
}