article h1 {
    color: var(--text1);
    font-size: 1.2em;
}

article time {
    font-size: 0.8em;
    display: block;
}

article .tags {
    margin: 0 0 1em 0;
}

article h2 {
    font-size: 1.1em;
    margin: 2em 0 0 0;
}

article h3 {
    font-size: 1em;
    margin: 2em 0 0 0;
}

article p {
    font-family: Inter, Arial;
    line-height: 1.5em;
    margin-bottom: 0.7em;
}

article ul, article ol {
    margin: 10px 0 20px 2em;
}

article li {
    margin-bottom: 10px;;
}

article ol > li {
    list-style: number;
}

article ul > li {
    list-style: disc;
}

article img {
    max-width: 100%;
}

article table {
    border: 1px solid var(--border);
    border-collapse: collapse;
    margin: 2em 0;
}

article th {
    padding: 0.5em 1em;
}

article tr {
    padding: 0.5em 1em;
    border-bottom: 1px solid var(--border);
}

article td {
    padding: 1em;
    text-align: center;
}

article tbody {
    background: var(--background);
}

article blockquote {
    padding: 5px 10px 0 10px;
    background: rgba(var(--shadow), 0.05);
    border: 1px solid var(--border2);
    border-left: 3px solid var(--border2);
    border-radius: 2px;
}

article pre {
    margin: 2em 0;
    border: 1px dashed var(--border);
    border-radius: 2px;
}

article code, article code span {
    font-family: 'Consolas', monospace;
    font-size: 16px;
}

.header-anchor {
    color: #333;
    position: relative;
    text-decoration: none;
}

.header-anchor:hover {
    text-decoration: none;
}

.header-anchor::after {
    content: '¶';
    display: none;
    color: var(--text2);
    margin-left: 10px;
}

.header-anchor:hover::after {
    display: inline;
}

article .bottom {
    margin: 5em 0 2em 0;
}
