/***********/
/* globals */
/***********/
* {
    padding: 0;
    margin: 0;
    font-family: "Courier New";
    scrollbar-width: thin;
    color: var(--text1);
}

body {
    background: var(--background);
    padding: 0 5px;
    box-sizing: border-box;
}

.sm {
    font-size: 0.8em;
}

.smbol {
    font-weight: bold;
    font-size: 0.8em;
}

.vmarg {
    margin-top: 10px;
    margin-bottom: 5px;
}

.brdr {
    border: 1px solid var(--border);
    padding: 2px;
}

hr {
    margin: 5px 0;
}

/***********/
/* buttons */
/***********/
a:hover, button:hover {
    cursor: pointer;
    color: var(--green);
}

textarea {
    color: black;
    width: 100%;
}

/*********/
/* lists */
/*********/
li {
    color: inherit;
    font-size: inherit;
    list-style: none;
}

.marquee {
    width: 100%;
    display: flex;
    gap: 1em;
    overflow: hidden;
    font-size: 0.8em;
}

.marquee ul {
    display: flex;
    gap: 1em;
    flex-shrink: 0;
    animation: marquee-anim linear infinite;
}

.marquee:hover ul {
    animation-play-state: paused;
}

@keyframes marquee-anim {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 1em));
    }
}

.pixelated {
    image-rendering: pixelated;
}

/***********/
/* stripes */
/***********/
.stripes {
    width: 100%;
    height: 20px;
    background: repeating-linear-gradient(
        135deg,
        #333 00%, #333 05%,
        #666 05%, #666 10%,
        #111 10%, #111 15%,
        #999 15%, #999 20%,
        #aaa 20%, #aaa 25%,
        #ccc 25%, #ccc 30%,
        #777 30%, #777 35%,
        #ddd 35%, #ddd 40%,
        #444 40%, #444 45%,
        #999 45%, #999 50%
    );
    margin: 5px 0 1em 0;
    animation: stripes-bobbing 3s infinite alternate linear;
}

@keyframes stripes-bobbing {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(5px);
    }
}

/********/
/* text */
/********/
label {
    font-weight: bold;
    font-size: 0.8em;
}

.ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


main, .content {
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

main {
    padding-top: 2em;
}

.shadow {
    box-shadow:
        rgba(var(--shadow), 0.50) 4px 4px;
}

/**********/
/* header */
/**********/
header {
    padding: 10px 0 5px 0;
    margin-bottom: 1em;
    display: flex;
    justify-content: end;
    align-items: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    color: var(--text1);
    font-weight: bold;
    font-size: 0.9em;
    line-height: 0.9em;
    font-style: normal;
    text-decoration: none;
    padding: 5px 1em;
    border: 1px solid var(--border);
    margin-left: -1px;
}

nav a:hover, nav li.active a {
    background: var(--text1);
    color: var(--background);
    text-decoration: none;
}

#theme {
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    margin-left: 1em;
    display: inline-block;
    -webkit-transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

#theme svg {
    width: 100%;
    height: 100%;
    stroke: var(--text1);
    stroke-width: 2px;
    fill: none;
}

#theme circle:last-of-type {
    stroke-dasharray: 2,7.4;
}


/* more */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

main {
    flex-grow: 1;
}


/**********/
/* footer */
/**********/
footer {
    margin: 2em 0;
    position: relative;
    text-align: center;
}

footer p:nth-child(2) {
    margin-top: 2em;
}

#not-found {
    text-align: center;
}


/********/
/* home */
/********/

#warning {
    display: none;
}

#home #intro {
    display: flex;
}

#home #text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#home #box {
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid var(--border);
    min-height: 300px;
}

#home #box a:hover {
    flex-grow: 1;
    color: var(--green);
}

#home aside {
    width: 180px;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

#home #loc {
    border: 1px dashed var(--border);
    padding: 1.2em 0 0.5em 0;
    text-align: center;
    position: relative;
}

#home #loc::after {
    content: "info";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    background: var(--background);
    padding: 0 1em;
}

#birb-banner {
    margin-top: auto;
    width: 100%;
    height: 32px;
    background-image: url('/home/dancing_birbs.webp');
    background-size: contain;
    animation: birb-banner 800ms linear infinite;
    image-rendering: pixelated;
}

#construction {
    padding: 5px 0;
    background: #fff08d;
    border: 3px dashed black;
    font-weight: bold;
    text-align: center;
}

#construction p {
    color: black;
}

#bits-and-bobs {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding: 3px 0;
}

#bits-and-bobs .bit {
    margin-right: 10px;
    width: 200px;
    height: 200px;
}

@keyframes birb-banner {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 30px;
    }
}

#latest-activity + ul {
    font-size: 0.9em;
    margin-bottom: 1em;
}

#latest-activity + ul li {
    margin: 3px 0;
    margin-bottom: auto;
}

/********/
/* bits */
/********/
#bits #msg {
    margin-bottom: 15px;
}

#bits .col {
    width: 32%;
    float: left;
    margin-right: 1%;
}

.bit {
    line-height: 0;
    padding: 2px;
    margin-bottom: 10px;
    border: 1px dashed var(--border2);
}

.bit img {
    width: 100%;
}

#btns img {
    margin-bottom: 5px;
}

/*******************/
/* project preview */
/*******************/
.project-preview {
    display: flex;
    margin-bottom: 40px;
}

.project-preview img {
    max-height: 400px;
    width: 60%;
    display: block;
    border: 1px solid var(--border);
}

.project-preview .details {
    display: flex;
    flex-direction: column;
    width: 40%;
    box-sizing: border-box;
    text-align: right;
}

.project-preview .type {
    font-size: 0.9em;
}

.project-preview h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.project-preview .desc {
    font-size: 0.85em;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
}

li:nth-child(even) .project-preview {
    flex-direction: row-reverse;
}

li:nth-child(even) .project-preview .details {
    text-align: left;
}

.action-button-list {
    margin-bottom: 20px;
}

.action-button-list a {
    margin-right: 5px;
}

#header-img {
    display: block;
    max-width: 100%;
    margin: 0 auto 30px auto;
}

/* BLOG */
.post-preview {
    padding: 10px 0;
}

.post-preview .desc {
    color: var(--text2);
    font-size: 0.8em;
}

.tags a {
    font-size: 0.8em;
    margin-right: 10px;
}

#tag-search {
    display: flex;
    margin-bottom: 0.5em;
}

#tag-search p {
    border: 1px solid var(--border);
    padding: 5px 10px;
    font-weight: normal;
    display: inline-block;
    font-size: 22px;
    margin-left: 1em;
}

/* CONTACT */
#contact-list {
    display: flex;
    justify-content: space-around;
    margin: 2em 0;
}

#contact-list li {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

#contact-list li p:first-child {
    font-weight: bold;
    margin-bottom: 1em;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    #warning {
        display: block;
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
    }

    #home #intro {
        flex-direction: column;
        height: fit-content;
    }

    #home #intro aside {
        margin: 2em 0;
        width: 100%;
    }

    #navlink {
        display: none;
    }

    #birb-banner {
        display: none;
    }

    header {
        margin-top: 2em;
        justify-content: center;
    }

    nav li {
        margin-bottom: 1em;
    }

    #theme {
        z-index: 1;
        position: fixed;
        right: 1em;;
        top: 0.5em;
    }

    #contact-list {
        flex-direction: column;
    }

    .project-preview, li:nth-child(even) .project-preview {
        flex-direction: column;
    }
    .project-preview img {
        width: 100%;
        margin-bottom: 1em;
    }
    .project-preview .details {
        text-align: left;
        flex-flow: row wrap;
        align-items: center;
        width: 100%;
    }
    .project-preview .type {
        width: 100%;
    }
    .project-preview h3 {
        margin-right: 5px;
    }
    .project-preview .marquee {
        width: 0;
        flex-grow: 1;
    }

    #bits .col {
        width: 33.33%;
        margin: 0;
    }

    #bits .bit {
        padding: 0;
        margin: 0;
        border: none;
    }
}
