@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Condensed');


:root {
  --green: #0AA02B;
  --border: #000;
}

* {
  padding: 0px;
  margin: 0;
  font-family: 'Source Sans', Arial, Helvetica, sans-serif;
  scrollbar-width: thin;
}

a {
  color: var(--green);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

.content {
  padding-left: 30%;
  padding-right: 30%;
  transition: padding 100ms ease;
}

.box {
  font-size: 16px;
  border: 1px solid var(--border);
  padding: 2em 1em;
  position: relative;
  background-color: #fff;
  margin-bottom: 3em;
  text-align: center;
}

.box::after {
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -5px;
  left: -5px;
  border: 1px solid var(--border);
}

header {
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.padded {
  margin-top: 2em;
}

header a {
  color: inherit;
}

#logo {
  font-size: 1.2em;
  line-height: 1em;
}

#logo p {
  font-family: 'Roboto Condensed';
}

#logo p:nth-child(2) {
  color: var(--green);
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav li {
  font-weight: bold;
  font-size: 0.9em;
  list-style: none;
  margin-left: 1em;
  padding: 5px 0;
  position: relative;
  overflow: hidden;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: translate(-100%, 0);
  transition: all 150ms ease;
}

nav a:hover::after {
  transform: translate(0, 0);
}

header a:hover {
  text-decoration: none;
}

nav li.active {
  color: var(--green);
}

nav li.active a::after {
  transform: translate(0, 0);
  background-color: var(--green);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

footer {
  color: rgb(56, 56, 56);
  margin-top: 2em;
  border-top: 1px solid var(--border);
  padding: 2em 0;
  position: relative;
}

footer p:nth-child(2) {
  margin-top: 2em;
}

footer::before {
  content: "";
  width: 13px;
  height: 13px;
  border: 1px solid var(--green);
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
}

/* HOME */
#home {
  display: flex;
}

.project {
  display: block;
  position: relative;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  border: 1px solid black;
  margin: 0 0 1em 0;
}

.project img {
  display: block;
  width: 100%;
  transition: all 100ms ease;
}

.project h2 {
  margin: 10px 0;
}

.project .view {
  text-align: center;
  color: black;
  display: none;
}

#home aside {
  width: 25em;
  margin-left: 2em;
}

#home aside h4 {
  font-weight: normal;
  margin-bottom: 10px;
}

#home aside h4 a {
  margin-left: 1em;
}

#home aside .newsletter {
  width: 100%;
  display: flex;
}

#home aside #newsletter-input {
  flex-grow: 1;
  height: 3em;
  padding: 0 10px; 
  box-sizing: border-box;
  border: 1px solid black;
}

#home aside #newsletter-submit {
  width: 2.5em;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1em;
}

#home aside #newsletter-submit:hover {
  cursor: pointer;
}

#home aside ul {
  margin-bottom: 3em;
}

#home aside li {
  list-style: none;
  margin-bottom: 10px;
}

#home aside li a {
  color: #555;
}

.icon-list {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-list a {
  margin: 0 5px;
  display: block;
  height: 48px;
}


/* PROJECTS */
.project-preview {
  border: 1px solid #777;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.project-preview .thumbnail {
  width: 50%;
}

.project-preview img {
  width: 100%;
  background-color: antiquewhite;
  display: block;
}

.project-preview .details {
  width: 50%;
  padding: 0.5em 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
  overflow: hidden;
}

.project-preview .tag-list {
  display: flex;
  margin: 5px 0 0 0;
}

.project-preview .tag-list p {
  font-size: 0.7em;
  background-color: black;
  color: white;
  padding: 3px 5px;
  margin-right: 2px;
}

.project-preview .desc {
  font-size: 0.9em;
  color: #555;
  font-style: italic;
  margin: 1em 0;
}

.action-button-list {
  margin-top: auto;
}

.action-button-list .live {
  border: 1px solid var(--border);
  padding: 3px 35px;
  display: inline-block;
  overflow: hidden;
}

.action-button-list .live div {
  color: black;
  position: relative;
  transition: all 150ms ease;
}

.action-button-list .live div::after {
  content: "»";
  font-size: 1em;
  font-weight: bold;
  position: absolute;
  text-align: center;
  z-index: -1;
  width: 100%;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.action-button-list .live:hover div {
  transform: translate(0, 100%);
}

#banner-img img {
  width: 100%;
  filter: blur(5px) grayscale(0.3);
  transform: scale(1.05);
}
#banner-img {
  overflow: hidden;
  border-bottom: 1px solid black;
  position: relative;
  margin-bottom: 4em;
  max-height: 80vh;
}
#banner-img h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: var(--green);
  padding: 0.5em 2.5em;
  border-radius: 3px;
  border: 1px solid black;
}

#project .action-button-list {
  margin-bottom: 2em;
}

/* BLOG */


.blog-item {
  display: block;
  margin: 1em -10px;
  padding: 10px;
  position: relative;
}

.blog-item a {
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.blog-item .desc {
  color: #666;
}

.blog-item .date {
  /* position: absolute;
  left: -1.5em;
  top: 0;
  transform: translate(-100%, 0); */
  display: inline;
  margin-left: 0.5em;
  color: #000;
  font-size: 0.9em;
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
}

/* CONTACT */
#contact-list {
  display: flex;
  justify-content: space-around;
  margin: 2em 0;
}

#contact-list li {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

#contact-list li p:first-child {
  font-weight: bold;
  margin-bottom: 1em;
}


@media (max-width: 1500px) {
  .content {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media (max-width: 1000px) {
  .content {
    padding-left: 5%;
    padding-right: 5%; 
  }
  #home aside {
    display: none;
  }
  #project-showcase {
    display: flex;
    justify-content: space-between;
  }
  .project {
    width: 49%;
  }
}

@media (max-width: 650px) {
  .content {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1em;
  }
  #project-showcase {
    flex-direction: column;
  }
  .project {
    width: 100%;
  }
  header {
    flex-direction: column;
    padding-bottom: 10px;
  }
  header #logo {
    margin-bottom: 1em;
  }
  header nav li {
    margin: 0 1em;
  }
  .project-preview {
    flex-direction: column-reverse;
  }
  .project-preview:nth-child(even) {
    flex-direction: column-reverse;
  }
  .project-preview .thumbnail {
    width: 100%;
  }
  .project-preview .details {
    width: 100%;
    border-right: none;
    border-top: 1px solid #ddd;
  }
  .action-button-list {
    display: flex;
    justify-content: space-around;
  }
  #contact-list {
    flex-direction: column;
  }
}