---
layout: base
---
<main id="blog-post">
    <article>
      <time>{{ date | formatDate }}</time>
      <h1>{{ title }}</h1>
      <div class="tags">
        {%- for tagItem in tags | filterTagList -%}
          <a href="/blog/tags/{{ tagItem | slugify }}/" class="tag-item">{{ tagItem }}</a>
        {%- endfor -%}
      </div>

      {{ content | safe }}

      <div class="bottom">
        <a href="/blog/">↵ Back to all posts</a>
      </div>
      <hr>
    </article>
</main>
