<footer>
  <div class="content">
    <p>
      Made with <a href="https://www.11ty.dev/">Eleventy</a>.
      Source code can be found on <a href="{{ site.source }}">Github</a>.</p>
    <p>updated on {{ site.lastUpdated }}</p>
  </div>
</footer>
