<header id="header">
  <div class="content">
    <a id="logo" href="/">
      <p>Coherent</p>
      <p class="highlight">Nonsense</p>
    </a>
    <nav>
      <ul>
        <li class="{{ 'active' if '/' == page.url }}"><a href="/">Home</a></li>
        <li class="{{ 'active' if '/projects' in page.url }}"><a href="/projects">Projects</a></li>
        <li class="{{ 'active' if '/blog' in page.url }}"><a href="/blog">Blog</a></li>
        <li class="{{ 'active' if '/contact' in page.url }}"><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <a id="theme" onclick="toggleTheme()">
      <svg id="glyphicons-halflings" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path id="contrast" d="M10,2a8,8,0,1,0,8,8A8.00917,8.00917,0,0,0,10,2Zm0,14A6,6,0,0,1,10,4Z"></path>
      </svg>
    </a>
  </div>
</header>