<header class="content">
    <nav>
        <ul>
            <li {{ 'class=active' if '/' == page.url }}><a href="/">cohnon.com</a></li>
            <li {{ 'class=active' if '/projects' in page.url }}><a href="/projects">/projects</a></li>
            <li {{ 'class=active' if '/blog' in page.url }}><a href="/blog">/blog</a></li>
            <li {{ 'class=active' if '/bits' in page.url }}><a href="/bits">/bits</a></li>
            <li {{ 'class=active' if '/me' in page.url }}><a href="/me">/me</a></li>
        </ul>
    </nav>
    <a id="theme" onclick="toggleTheme()">
        <svg>
            <circle cx="14" cy="14" r="8"></circle>
            <circle cx="14" cy="14" r="12">
                <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 14 14" to="360 14 14" dur="8s" repeatCount="indefinite"></animateTransform>
            </circle>
	</svg>
    </a>
</header>
