---
layout: base
---
<main id="blog-post">
    <img id="header-img" src="/projects/{{ thumb }}">
    <article>

        <h1>{{ name }}</h1>

        <div class="action-button-list">
            {%- if live -%}
                <a href="{{ live }}">live</a>
            {%- endif -%}
            <a href="{{ source }}">source</a>
        </div>

        {{ content | safe }}

    </article>
</main>
