{% macro postPreview(post) %}

    <div class="post-preview">
        <a href="{{ post.url }}" class="title">{{ post.data.title }}</a>
        <span class="desc">{{ post.data.desc }}</span>

        <div class="tags">
            {%- for tagItem in post.data.tags | filterTagList -%}
                <a href="/blog/tags/{{ tagItem | slugify }}/">{{ tagItem }}</a>
            {%- endfor -%}
        </div>
    </div>

{% endmacro %}
