---
layout: base
permalink: /bits/
---
<main id="bits">
    <p id="msg" align="center">A place for all the small things.</p>

    {% from 'macros/bit_preview.njk' import bitPreview %}

    <ul>
        <div class="col">
            {% for bit in collections.bits | reverse | iter_n(3) %}
                <li>{{ bitPreview(bit) }}</li>
            {% endfor %}
        </div>
        <div class="col">
            {% for bit in collections.bits | reverse | iter_n(3, 1) %}
                <li>{{ bitPreview(bit) }}</li>
            {% endfor %}
        </div>
        <div class="col">
            {% for bit in collections.bits | reverse | iter_n(3, 2) %}
                <li>{{ bitPreview(bit) }}</li>
            {% endfor %}
        </div>
    </ul>
</main>
