---
layout: base
permalink: /blog/
---
{% from 'macros/post_preview.njk' import postPreview %}

<main>
    <ul>
      {% for post in collections.blog | reverse %}
        {% if post.data.draft != true %}
            <li>{{ postPreview(post) }}</li>
        {% endif %}
      {% endfor %}
    </ul>
</main>
