---
layout: base
permalink: /blog/
---
{% from 'macros/post_preview.njk' import postPreview %}

<main>
    <ul>
      {%- for post in collections.blog | reverse -%}
        <li>{{ postPreview(post) }}</li>
      {%- endfor -%}
    </ul>
</main>
