---
layout: base
permalink: /
---
{% from 'macros/project_preview.njk' import projectPreview %}
{% from 'macros/bit_preview.njk' import bitPreview %}
{% from 'macros/marquee.njk' import marquee %}

<main id="home">
    <div id="intro">
        <div id="text" class="shadow">
            <a href="#">hello there</a>
            <img
                class="pixelated"
                src="home/intro.webp"
                style="position:absolute;right:0; bottom:0">
        </div>
        
        <aside>
            <time id="clock">08:44:25</time>
            <div class="stripes"></div>

            <label id="recent-posts">recent posts</label>
            <ul>
                {%- for post in collections.blog | head(-5) -%}
                    <li class="ellipsis">
                        {% if post.data.draft == true %}
                            [draft]
                        {% endif %}
                        <a href="{{ post.url }}">{{ post.data.title }}</a>
                    </li>
                {%- endfor -%}
            </ul>

            <label id="listening-to">♫ listening to ♫</label>
            {{ marquee([
                "cosmo sheldrake", "stars", "alec benjamin", "creepy nuts", "yoe mase",
                "king gizzard and the lizard wizard", "andrew prahlow", "stupendium", "azali",
                "ado", "eve", "c418", "dirt poor robins", "poor man's poison",
                "major axis", "gourski", "machine girl", "zalinki", "miracle musical"
            ]) }}
        </aside>
    </div>
    <div id="birb-banner"></div>

    <h2>↴ <a href="/projects">what I'm working on</a></h2>
    <ul id="project-showcase">
        {% for project in collections.projects | sortByOrder %}
            {%- if project.data.order >= 100 -%}
                <li>{{ projectPreview(project, type = "Featured Project") }}</li>
            {% endif %}
        {% endfor %}
    </ul>

    <h2><a href="/bits">bits and bobs</a> ↴</h2>
    <ul id="bits-and-bobs">
        {% for bit in collections.bits | head(-10) %}
            <li>{{ bitPreview(bit) }}</li>
        {% endfor %}
    </ul>
</main>

<script src="/js/clock.js"></script>
<script src="/js/home/main.js"></script>
