---
layout: base
permalink: /me/
---
<main>
    <ul id="contact-list">
      <li>
        <p>Discord</p>
        <p>{{ site.contact.discord }}</p>
      </li>
      <li>
        <p>Email</p>
        <p><a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a></p>
      </li>
    </ul>
</main>
