---
layout: base
permalink: /projects/
---

<main>
    {% from 'macros/project_preview.njk' import projectPreview %}

    <ul>
        {% for project in collections.projects | sortByOrder %}
            <li>{{ projectPreview(project) }}</li>
        {% endfor %}
    </ul>
</main>
