---
layout: base
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - projects
    - blog
permalink: /blog/tags/{{ tag | slugify }}/
---
{% from 'macros/post_preview.njk' import postPreview %}

<main>
    <h1 id="tag-search">Tagged <p>{{ tag }}</p></h1>
    <p>See <a href="/blog/">all tags</a></p>
    <ul>
      {%- for post in collections[tag] -%}
        <li>{{ postPreview(post) }}</li>
      {%- endfor -%}
    </ul>
</main>
