:root {
  --background: rgb(19, 19, 22);
  --text1: rgb(206, 206, 206);
  --text2: rgb(180, 180, 180);
  --border: rgb(168, 168, 168);
  --border2: rgb(112, 118, 131);
  --border3: rgb(197, 197, 197);
  --green: #30df56;
}