article h1 {
  color: var(--green);
  font-size: 2em;
  margin-bottom: 0.5em;
}

article .date {
  margin-bottom: 1em;
  font-size: 0.9em;
}

article hr {
  margin-bottom: 2em;
}

article h3 {
  margin: 2em 0 1em 0;
}

article h2 {
  margin: 2em 0 1em 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #bbb;
}

article p {
  line-height: 2em;
  margin-bottom: 1em;
  font-size: 18px;
}

article ul, article ol {
  margin: 10px 0 20px 1em;
}

article li {
  margin-bottom: 10px;;
}

article table {
  background-color: #000;
  margin: 2em 0;
}

article thead {
  color: #fff;
}

article th {
  padding: 5px 10px;
}

article td {
  padding: 5px 10px;
  text-align: center;
}

article tbody {
  background: #eee;
}

article blockquote {
  border-left: 5px solid var(--green);
  padding-left: 1em;
}

article pre {
  margin: 2em 0;
}

article code, article code span {
  font-family: 'Consolas', monospace;
  font-size: 16px;
}

.header-anchor {
  color: #333;
  position: relative;
}

.header-anchor:hover {
  text-decoration: none;
}

.header-anchor::before {
  content: '¶';
  position: absolute;
  left: -10px;
  transform: translate(-100%, 0);
  display: none;
  color: var(--green);
}

.header-anchor:hover::before {
  display: block;
}

article .bottom {
  margin-top: 5em;
}