article h1 {
  color: var(--green);
  font-size: 2.2em;
}

article .date {
  margin-bottom: 1em;
  font-size: 18px;
  color: var(--text2);
}

article .tag-list {
  margin-bottom: 1em;
}

article .tag-list a {
  font-size: 0.9em;
}

hr {
  border: none;
  border-bottom: 1px solid var(--border2);
  margin-bottom: 2em;
}

article h3 {
  margin: 2em 0 1em 0;
}

article h2 {
  margin: 2em 0 1em 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--border2);
}

article p {
  line-height: 2em;
  margin-bottom: 1em;
  font-size: 18px;
}

article ul, article ol {
  margin: 10px 0 20px 2em;
}

article li {
  margin-bottom: 10px;;
}

article img {
  max-width: 100%;
}

article table {
  background-color: var(--border3);
  margin: 2em 0;
}

article th {
  color: var(--background);
  padding: 5px 10px;
}

article td {
  padding: 5px 10px;
  text-align: center;
}

article tbody {
  background: var(--background);
}

article blockquote {
  border-left: 5px solid var(--green);
  padding-left: 1em;
}

article pre {
  margin: 2em 0;
}

article code {
  color: var(--green);
}

article code, article code span {
  font-family: 'Consolas', monospace;
  font-size: 16px;
}

.header-anchor {
  color: #333;
  position: relative;
}

.header-anchor:hover {
  text-decoration: none;
}

.header-anchor::after {
  content: '¶';
  display: none;
  color: var(--green);
  margin-left: 10px;
}

.header-anchor:hover::after {
  display: inline;
}

article .bottom {
  margin: 5em 0 2em 0;
}