/***********/
/* globals */
/***********/
* {
    padding: 0;
    margin: 0;
    font-family: "Courier New";
    scrollbar-width: thin;
    color: var(--text1);
}

body {
    background: var(--background);
    padding: 0 5px;
    box-sizing: border-box;
}

/***********/
/* buttons */
/***********/
a {
    font-style: italic;
}

a:hover, button:hover {
    cursor: pointer;
    color: var(--green);
}

/*********/
/* lists */
/*********/
li {
    color: inherit;
    font-size: inherit;
    list-style: none;
}

.marquee {
    width: 100%;
    display: flex;
    gap: 1em;
    overflow: hidden;
    font-size: 0.8em;
}

.marquee ul {
    display: flex;
    gap: 1em;
    flex-shrink: 0;
    animation: marquee-anim linear infinite;
}

.marquee:hover ul {
    animation-play-state: paused;
}

@keyframes marquee-anim {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 1em));
    }
}

/***********/
/* stripes */
/***********/
.stripes {
    width: 100%;
    height: 20px;
    background: repeating-linear-gradient(
        135deg,
        #333 00%, #333 05%,
        #666 05%, #666 10%,
        #111 10%, #111 15%,
        #999 15%, #999 20%,
        #aaa 20%, #aaa 25%,
        #ccc 25%, #ccc 30%,
        #777 30%, #777 35%,
        #ddd 35%, #ddd 40%,
        #444 40%, #444 45%,
        #999 45%, #999 50%
    );
    margin: 5px 0 1em 0;
    border-radius: 3px;
    animation: stripes-bobbing 2s infinite alternate linear;
}

@keyframes stripes-bobbing {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(5px);
    }
}

/********/
/* text */
/********/
label {
    font-weight: bold;
    font-size: 0.8em;
}

.ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


main, .content {
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

main {
    padding-top: 2em;
}

.shadow {
    box-shadow:
        rgba(var(--shadow), 0.50) 4px 4px;
}

/**********/
/* header */
/**********/
header {
    padding: 10px 0 5px 0;
    margin-bottom: 1em;
    display: flex;
    justify-content: end;
    align-items: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    color: var(--text1);
    font-weight: bold;
    font-size: 0.9em;
    line-height: 0.9em;
    font-style: normal;
    text-decoration: none;
    padding: 5px 1em;
    border: 1px solid var(--border);
    margin-left: -1px;
}

nav a:hover, nav li.active a {
    background: var(--text1);
    color: var(--background);
    text-decoration: none;
}

#theme {
    width: 30px;
    height: 30px;
    margin-left: 1em;
    display: inline-block;
    -webkit-transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

#theme svg {
    width: 100%;
    height: 100%;
    stroke: var(--text1);
    stroke-width: 2px;
    fill: none;
}

#theme circle:last-of-type {
    stroke-dasharray: 2,7.4;
}


/* more */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

main {
    flex-grow: 1;
}


/**********/
/* footer */
/**********/
footer {
    color: rgb(56, 56, 56);
    margin-top: 2em;
    border-top: 1px solid var(--border);
    padding: 2em 0;
    position: relative;
}

footer p:nth-child(2) {
    margin-top: 2em;
}

footer::before {
    content: "";
    width: 13px;
    height: 13px;
    border: 1px solid var(--green);
    background-color: var(--background);
    border-radius: 50%;
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
}


/********/
/* home */
/********/
#home h2 {
    font-size: 1em;
    margin: 1em 0 5px 0;
}

#home #intro {
    display: flex;
    margin-bottom: 30px;
}

#home #text {
    flex-grow: 1;
    position: relative;
    min-height: 300px;
    border: 1px solid var(--border);
    padding: 10px;
    box-sizing: border-box;
}

#home #text a:hover {
    color: var(--green);
}

#home aside {
    flex-grow: 1;
    width: 0;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

#home #recent-posts + ul {
    margin-bottom: 10px;
}

#home time {
    border: 1px dashed var(--border);
    padding: 1.2em 0 0.5em 0;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    position: relative;
}

#home time::after {
    content: "my time";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    background: var(--background);
    padding: 0 1em;
}

#birb-banner {
    width: 100%;
    height: 32px;
    background-image: url('/home/dancing_birbs.webp');
    background-repeat: repeat;
    animation: birb-banner 800ms linear infinite;
}

#bits-and-bobs {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

#bits-and-bobs .bit {
    margin-right: 10px;
}

@keyframes birb-banner {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 30px;
    }
}

#latest-activity + ul {
    font-size: 0.9em;
    margin-bottom: 1em;
}

#latest-activity + ul li {
    margin: 3px 0;
}

#listening-to {
    margin-top: auto;
}

#home h2 {
    margin-top: 50px;
}

/********/
/* bits */
/********/
#bits p {
    margin-bottom: 10px;
}

#bits ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#bits .bit {
    margin-bottom: 10px;
}

.bit {
    border: 1px dashed var(--border2);
    background: #fff;
    width: 200px;
    height: 200px;
    padding: 10px;
}

/*******************/
/* project preview */
/*******************/
.project-preview {
    display: flex;
    margin-bottom: 40px;
}

.project-preview img {
    width: 60%;
    display: block;
    border: 1px solid var(--border);
}

.project-preview .details {
    display: flex;
    flex-direction: column;
    width: 40%;
    box-sizing: border-box;
    text-align: right;
}

.project-preview .type {
    font-size: 0.9em;
}

.project-preview h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.project-preview .desc {
    font-size: 0.85em;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
}

li:nth-child(even) .project-preview {
    flex-direction: row-reverse;
}

li:nth-child(even) .project-preview .details {
    text-align: left;
}

.action-button-list {
    margin-top: auto;
}

.action-button-list .live {
    border: 1px solid var(--border);
    padding: 3px 35px;
    display: inline-block;
    overflow: hidden;
    margin-right: 5px;
    transition: background-color 100ms ease;
}

.action-button-list .live div {
    color: var(--text1);
    position: relative;
    transition: all 150ms ease;
}

.action-button-list .live div::after {
    content: "»";
    font-size: 1em;
    font-weight: bold;
    position: absolute;
    text-align: center;
    z-index: -1;
    width: 100%;
    top: -55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.action-button-list .live:hover div {
    transform: translate(0, 105%);
}

.action-button-list .live:hover {
    background-color: var(--text1);
}

/* BLOG */
.post-preview {
    display: block;
    padding: 10px;
    position: relative;
}

.post-preview .title {
    font-size: 1.2em;
}

.post-preview .desc {
    color: var(--text2);
    margin: 5px 5px 5px 0;
}

.post-preview time {
    display: block;
    color: var(--text1);
    font-size: 0.8em;
}

.post-preview hr {
    margin-top: 10px;
    background: var(--border2);
    border: none;
    height: 1px;
}

.tags a {
    font-size: 0.8em;
    margin-right: 10px;
}

#tag-search {
    display: flex;
    margin-bottom: 0.5em;
}

#tag-search p {
    border: 1px solid var(--border);
    padding: 5px 10px;
    font-weight: normal;
    display: inline-block;
    font-size: 22px;
    margin-left: 1em;
}

/* CONTACT */
#contact-list {
    display: flex;
    justify-content: space-around;
    margin: 2em 0;
}

#contact-list li {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

#contact-list li p:first-child {
    font-weight: bold;
    margin-bottom: 1em;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    #home #intro {
        flex-direction: column;
        height: fit-content;
    }

    #home #intro aside {
        margin: 2em 0;
        width: 100%;
    }

    header {
        margin-top: 2em;
        justify-content: center;
    }

    nav li {
        margin-bottom: 1em;
    }

    #theme {
        z-index: 1;
        position: fixed;
        right: 1em;;
        top: 0.5em;
    }

    #contact-list {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .project-preview, li:nth-child(even) .project-preview {
        flex-direction: column;
    }
    .project-preview img {
        width: 100%;
        margin-bottom: 1em;
    }
    .project-preview .details {
        text-align: left;
        flex-flow: row wrap;
        align-items: center;
        width: 100%;
    }
    .project-preview .type {
        width: 100%;
    }
    .project-preview h3 {
        margin-right: 5px;
    }
    .project-preview .marquee {
        width: 0;
        flex-grow: 1;
    }
}
